repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
    -   id: trailing-whitespace

-   repo: https://github.com/psf/black
    rev: 25.12.0
    hooks:
    -   id: black